@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://use.typekit.net/nak2vhf.css');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Scroll */
html {
  scroll-behavior: smooth;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.625rem 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  border-radius: 9999px;
  outline: none;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  ring-offset-color: white;
  focus-visible: outline-none;
  focus-visible: ring-2;
  focus-visible: ring-offset-2;
  focus-visible: ring-border-primary;
  disabled: pointer-events-none;
  disabled: opacity-50;
}

/* Primary button */
.btn-primary {
  border: 1px solid var(--color-jamesBlue);
  background-color: var(--color-jamesBlue);
  color: var(--color-text-alternative);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  background-color: var(--color-jamesLight);
  border-color: var(--color-jamesLight);
}

/* Secondary button */
.btn-secondary {
  border: 1px solid var(--color-gray-300);
  color: var(--color-text-primary);
  background-color: transparent;
}

.btn-secondary:hover {
  background-color: var(--color-gray-100);
  border-color: var(--color-gray-400);
}

/* Typography */
body {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  @apply bg-jamesWhite;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-gray-800;
  @apply tracking-tight;
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

p {
  @apply text-gray-600;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Headings */
h1 {
  font-size: clamp(2rem, 2.25vw + 1rem, 2.75rem);
  line-height: clamp(2.5rem, 2.5vw + 1.25rem, 3.5rem);
}

@media (min-width: 640px) {
  h1 {
    font-size: clamp(2.25rem, 2.5vw + 1.25rem, 3rem);
    line-height: clamp(2.75rem, 2.75vw + 1.25rem, 3.75rem);
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: clamp(2.5rem, 2.75vw + 1.5rem, 3.25rem);
    line-height: clamp(3rem, 3vw + 1.5rem, 4rem);
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.5rem; /* Set fixed size for lg */
    line-height: 3rem; /* Set fixed line-height for lg */
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: clamp(2.75rem, 3vw + 1.75rem, 3.5rem);
    line-height: clamp(3.25rem, 3.25vw + 1.75rem, 4.25rem);
  }
}

h2 {
  font-size: clamp(1.75rem, 1.75vw + 0.875rem, 2rem);
  line-height: clamp(2.25rem, 2vw + 0.875rem, 2.75rem);
}

@media (min-width: 640px) {
  h2 {
    font-size: clamp(2rem, 2vw + 1rem, 2.25rem);
    line-height: clamp(2.5rem, 2.25vw + 1rem, 3rem);
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: clamp(2.25rem, 2.25vw + 1.125rem, 2.5rem);
    line-height: clamp(2.75rem, 2.5vw + 1.125rem, 3.25rem);
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 2rem; /* Smaller size for lg */
    line-height: 2.5rem; /* Smaller line-height for lg */
  }
}

@media (min-width: 1280px) {
  h2 {
    font-size: clamp(2.25rem, 2.25vw + 1.125rem, 2.5rem);
    line-height: clamp(2.75rem, 2.5vw + 1.125rem, 3.25rem);
  }
}

h3 {
  font-size: clamp(1.5rem, 1.5vw + 0.625rem, 1.75rem);
  line-height: clamp(2rem, 2vw + 0.625rem, 2.5rem);
}

@media (min-width: 640px) {
  h3 {
    font-size: clamp(1.75rem, 1.75vw + 0.75rem, 2rem);
    line-height: clamp(2.25rem, 2.25vw + 0.75rem, 2.75rem);
  }
}

@media (min-width: 768px) {
  h3 {
    font-size: clamp(2rem, 2vw + 0.875rem, 2.25rem);
    line-height: clamp(2.5rem, 2.5vw + 0.875rem, 3rem);
  }
}

@media (min-width: 1024px) {
  h3 {
    font-size: clamp(2.25rem, 2.25vw + 1rem, 2.5rem);
    line-height: clamp(2.75rem, 2.75vw + 1rem, 3.25rem);
  }
}

@media (min-width: 1280px) {
  h3 {
    font-size: clamp(2.5rem, 2.5vw + 1.125rem, 2.75rem);
    line-height: clamp(3rem, 3vw + 1.125rem, 3.5rem);
  }
}

h4 {
  font-size: clamp(1.25rem, 1.25vw + 0.625rem, 1.5rem);
  line-height: clamp(1.75rem, 1.75vw + 0.625rem, 2rem);
}

@media (min-width: 640px) {
  h4 {
    font-size: clamp(1.5rem, 1.5vw + 0.75rem, 1.75rem);
    line-height: clamp(2rem, 2vw + 0.75rem, 2.25rem);
  }
}

@media (min-width: 768px) {
  h4 {
    font-size: clamp(1.75rem, 1.75vw + 0.875rem, 2rem);
    line-height: clamp(2.25rem, 2.25vw + 0.875rem, 2.75rem);
  }
}

@media (min-width: 1024px) {
  h4 {
    font-size: clamp(2rem, 2vw + 1rem, 2.25rem);
    line-height: clamp(2.5rem, 2.5vw + 1rem, 3rem);
  }
}

@media (min-width: 1280px) {
  h4 {
    font-size: clamp(2.25rem, 2.25vw + 1.125rem, 2.5rem);
    line-height: clamp(2.75rem, 2.75vw + 1.125rem, 3.25rem);
  }
}

h5 {
  font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
  line-height: clamp(1.5rem, 1.25vw + 0.5rem, 1.75rem);
}

@media (min-width: 640px) {
  h5 {
    font-size: clamp(1.25rem, 1.25vw + 0.625rem, 1.5rem);
    line-height: clamp(1.75rem, 1.5vw + 0.625rem, 2rem);
  }
}

@media (min-width: 768px) {
  h5 {
    font-size: clamp(1.375rem, 1.5vw + 0.75rem, 1.75rem);
    line-height: clamp(2rem, 1.75vw + 0.75rem, 2.25rem);
  }
}

@media (min-width: 1024px) {
  h5 {
    font-size: clamp(1.5rem, 1.75vw + 0.875rem, 2rem);
    line-height: clamp(2.25rem, 2vw + 0.875rem, 2.5rem);
  }
}

@media (min-width: 1280px) {
  h5 {
    font-size: clamp(1.625rem, 2vw + 1rem, 2.25rem);
    line-height: clamp(2.5rem, 2.25vw + 1rem, 2.75rem);
  }
}

@media (max-width: 1024px) {
  .no-border-mobile {
    border-bottom: none !important;
  }
}

@media (min-width: 1024px) {
  .no-border-mobile {
    border-bottom: 4px solid #1B57A6;
  }
}

.mobile-nav {
  height: 100vh;
  overflow-y: auto;
}

@media (min-width: 992px) {
  .mobile-nav {
    height: auto;
  }
}

/* Menu icon visibility */
.menu-icon {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-icon div {
  width: 24px;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease;
  position: absolute;
}

.menu-icon div:nth-child(1) {
  top: 6px;
}

.menu-icon div:nth-child(2) {
  top: 12px;
}

.menu-icon div:nth-child(3) {
  top: 18px;
}

.menu-icon.open div:nth-child(1) {
  transform: rotate(45deg);
  top: 12px;
}

.menu-icon.open div:nth-child(2) {
  opacity: 0;
}

.menu-icon.open div:nth-child(3) {
  transform: rotate(-45deg);
  top: 12px;
}

@media (min-width: 1024px) {
  .menu-icon {
    display: none;
  }
}

@media (max-width: 1023px) {
  .menu-icon {
    display: flex;
  }
}

/* Main content padding adjustment */
.main-content {
  padding-top: 64px;
}

@media (min-width: 768px) {
  .main-content {
    padding-top: 80px;
  }
}

@media (min-width: 1024px) {
  .main-content {
    padding-top: 112px;
  }
}

@media (min-width: 1280px) {
  .main-content {
    padding-top: 112px;
  }
}

/* Flexbox for buttons */
.button-group > button {
  width: 100%;
}

@media (min-width: 768px) {
  .button-group > button {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .button-group {
    flex-direction: row;
  }

  .button-group > button {
    width: auto;
  }
}

/* Ensure absolute positioned elements are visible on mobile */
.absolute-positioned {
  display: flex !important;
}

/* Parallax effect */
.parallax {
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}

.btn-56 {
  height: 48px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-56 {
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reduce-space {
  margin: -3px;
  padding: 0;
}

:root {
  --correct-blue: #1B57A6;
}

.active-link {
  color: var(--correct-blue);
  padding-bottom: 12px;
}

@media (min-width: 1024px) {
  .active-link {
    @apply text-jamesBlue; 
  }
}

.border-top-none {
  border-top: none !important;
  border-left: none;
  border-right: none;
  border-color: black;
  border-width: 1px;
}

@media (max-width: 1023px) {
  .active-link {
    border-bottom: none;
  }
}

.arrow-container {
  position: relative;
}

.paragraph-container {
  min-height: 320px; /* Adjust this value as needed */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slick-dots li button:before {
  font-size: 12px; /* Increase the font size to make the dots larger */
  color: black; /* Optional: Change the color of the dots */
}

.slick-dots li.slick-active button:before {
  color: #1C58A6; /* Optional: Change the color of the active dot */
}

.slick-dots li {
  margin: 0 1px; /* Adjust the margin value to move dots closer together or further apart */
}

.button-width {
  width: 150px; /* Adjust this value to your preferred width */
}

.tag {
  background-color: #1C58A6;
  color: white; /* text black */
  display: inline-block;
  padding: 2px 12px; /* double the padding horizontally */
  border-radius: 10px; /* rounded-full */
  font-size: 1rem; /* extra small font size */
  font-weight: semibold;
}

.top-minus-full {
  top: calc(100% - 8px);
}

/* Custom Checkbox Styles */
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 1.5rem; /* 6 x 0.25rem = 1.5rem */
  height: 1.5rem;
  border: 2px solid #d1d5db; /* gray-300 */
  border-radius: 0.25rem; /* optional, for rounded corners */
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'futura-pt', sans-serif;
  font-weight: bold;
}

.custom-checkbox:checked {
  background-color: #1C58A6;
  border-color: #1C58A6;
}

.custom-checkbox:checked::before {
  content: '\2713'; /* Unicode for checkmark */
  color: white;
  font-size: 1rem; /* Adjust size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.custom-list {
  @apply pl-2 text-gray-500 list-none;
}

.custom-list li {
  position: relative;
  padding-left: 1.5em;
}

.custom-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.4em;
  width: 0.4em;
  height: 0.4em;
  background-color: #1B57A6;
  border-radius: 50%;
}

/* Add this to global.css or relevant CSS file */
.nav-link {
  position: relative;
  text-decoration: none;
}

/* Default state without hover effect */
.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -1px;
  left: 50%;
  background-color: #1C58A6; /* Change this to the desired colour */
  transition: width 0.3s ease, left 0.3s ease;
}

/* Hover effect applied only on large screens and above */
@media (min-width: 1024px) {
  .nav-link:hover::after {
    width: 100%;
    left: 0;
  }
}

/* Global styles for content rendered via documentToHtmlString */
.prose-content img {
  @apply rounded-3xl; /* adjust radius to taste (e.g. 0.5rem or 50% for circular) */
}

/* Reduce spacing on H2s within this content */
.prose-content h2 {
  margin-top: 3rem; /* reduce top margin */
  margin-bottom: 0.75rem; /* reduce bottom margin */
}